$orange: #FF4A1F;

body {
	padding: 0;
	margin: 0;
	background: rgb(30,30,30);
	color: #FF4A1F;
	text-align: center;
	font-size: 30px;
}

a, a:visited {
	color: #FF4A1F;
}

input {
	font-size: 28px;
	padding: 8px;
	margin: 10px;
}

button {
	font-size: 28px;
	padding: 5px 15px;
	border: none;
	background: white;
	margin: 25px;
}

.navigationWrapper {
	background: rgb(50,50,50);
	border-bottom: 1px solid rgba(250,250,250,0.75);
	width: 100vw;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  button {
	  	color: black;
	  	margin-left: 15px;
	  	margin-right: 15px;
	  }
	  a, a:visited {
	  	text-decoration: none;
	  	color: black;
	  }
	  .navLink {
	  	margin: 2px 8px;
	  }
	  .activeRoute {
	  	color: $orange !important;
	  }
	}
}

.signupForm {
	width: 600px;
	margin: auto;
	input {
		width: 500px;
		padding: 15px 5px;
	}
	button {
		font-size: 32px;
		padding: 10px 20px;
		margin-bottom: 0;
	}
}